@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body {
    font-family: Poppins;
    background-color:#999;
}

.oque-e {
    background-color: white;
    border-radius: 9px;
    text-align: center;
    display: flex;
    align-items: center;
}

.conteudo {
    padding: 1.5rem;
}

img {
    height: 100%;
    width: 300px;
    
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 23px;
    margin-top: 10px;
}

p {
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 9px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    margin: 3px auto;
}
.requisitos{
    background-color: green;
    border-radius: 10px;
}